@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
body {
  background: linear-gradient(to right, black, grey);
}
#snakeboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#score {
  text-align: center;
  font-size: 140px;
}
p {
  font-family: "Smooch", sans-serif;
  float: right;
}
